.vscode/
Subscriptions/.env
Subscriptions/alembic/__pycache__/
Subscriptions/alembic/versions/__pycache__/
Subscriptions/src/db/__pycache__/
Subscriptions/src/grpc/__pycache__/
Subscriptions/src/grpc/generated/__pycache__/
Subscriptions/tests/__pycache__/
Users/alembic/__pycache__/
Users/alembic/versions/__pycache__/
Users/src/db/__pycache__/
Users/src/grpc/generated/__pycache__/
Users/src/utils/__pycache__/
clear_docker_data.sh
venv/
Orchestrator_monolith/.DS_Store
Orchestrator_monolith/src/.DS_Store
Orchestrator_monolith/src/services/.DS_Store
Orchestrator_monolith/src/orchestrator/.DS_Store
__pycache__/
GraphQL/.env
subscription_service/.DS_Store
subscription_service/alembic/.DS_Store